APP_NAME=Gofishi
APP_ENV=local
APP_KEY=base64:4Q+5Ilx53Vr2lICV2/elF2jMnZ3ya8L587i/ITjCfSA=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8001

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rental_perahu
DB_USERNAME=rental_perahu
DB_PASSWORD="Warakajimbe80"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

MOLLIE_KEY=test_5HcWVs9qc5pzy36H9Tu9mwAyats33J

APP_TIMEZONE=Asia/Jakarta

VAPID_PUBLIC_KEY=BFvK_Vl5zh6g-8glfwClhH-1P37uZqEL3rgiWHMxlzTxtnd5y2DY06AaTpayCuGvG2Di7Kw6vqX6tf7F46pwqpw
VAPID_PRIVATE_KEY=QHX2L0MHBmPUPHiq76zVgUiGhyOlZ42vssTh-YpDEbk

ANET_API_LOGIN_ID=3Ca5hYQ6h
ANET_TRANSACTION_KEY=8bt8Kr5gPZ3ZE23C
ANET_PUBLIC_CLIENT_KEY=7m38JBnNjStNFq58BA6Wrr852ahtT533cGKavWwu6Fge28RDc5wC7wTL8Vsb35B3

OPENAI_API_KEY=sk-placeholder-key
GEMINI_API_KEY=AQ.Ab8RN6L-X7mION4DOzKPA3mbpt6qSF7dz_bbQS1PH_E56YOvfg
ANTHROPIC_API_KEY=sk-placeholder-anthropic
AI_PROVIDER=gemini

GOOGLE_MAPS_API_KEY=AIzaSyAEYXpM3sM6gAHw6rgoQSqQfxrGLQHMBO4
APP_NAME=GoFishi
GOOGLE_CLIENT_ID=106499710668-ekl5gph9np8mlqjjlsdkl28c4gellen3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://127.0.0.1:8001/login/google/callback
FACEBOOK_CLIENT_ID=gt4
FACEBOOK_CLIENT_SECRET=gresgers
FACEBOOK_CALLBACK_URL=http://127.0.0.1:8001/user/login/facebook/callback
